/* Small devices (up to 576px) */
@media (max-width: 576px) {
    #banner {
        text-align: center;
    }

    #banner .content {
        justify-content: center;
    }

    #banner .container {
        padding: 48px 56px 21px 48px;
    }

    #banner input {
        padding: 19px 80px 19px 18px;
    }

    #banner button {
        margin-left: -18%;
        padding: 10px;
        margin-top: 3px;

    }

    #banner h2 {
        font-size: 53px;
        margin-bottom: 10px;
    }

    #banner form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #plants .row {
        flex-direction: column;
        gap: 25px;
    }

    #plants {
        text-align: center;
    }

    #about .row {
        flex-direction: column;
    }

    #categories .row {
        flex-direction: column;
        gap: 20px;
    }

    #categories .img1 {
        margin-top: 0%;
    }

    .category p {
        margin: 12px 0 42px;
    }

    #categories img {
        width: 100%;
    }

    .slick-dots {
        display: none !important;
    }

    #review .card1 {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
        width: 100%;

    }

    #footer .container .row {
        flex-direction: column;
    }

    #footer .links {
        margin-bottom: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer {
        text-align: center;
    }
}

/* Medium devices (577px to 768px) */
@media (min-width: 577px) and (max-width: 991px) {
    #banner {
        text-align: center;
    }

    #banner .container {
        padding: 48px 56px 21px 48px;
        text-align: center;
    }

    #banner .content {
        justify-content: center;
    }

    #banner input {
        padding: 19px 80px 19px 18px;
    }

    #banner button {
        margin-left: -10%;
        padding: 10px;
        margin-top: 3px;
    }

    #banner h2 {
        font-size: 53px;
        margin-bottom: 10px;
    }

    #banner form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #plants .row {
        flex-direction: column;
        gap: 15px;
    }

    #plants {
        text-align: center;
    }

    #about .row {
        flex-direction: column;
    }

    #categories .row {
        flex-direction: column;
        gap: 20px;
    }

    #categories .img1 {
        margin-top: 0%;
    }

    .category p {
        margin: 12px 0 42px;
    }

    #categories img {
        width: 100%;
    }

    .slick-dots {
        display: none !important;
    }

    #review .card1 {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
        width: 100%;

    }

    #footer .container .row {
        flex-direction: column;
    }

    #footer .links {
        margin-bottom: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer {
        text-align: center;
    }

}