@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #c1dcdc;
    --color-2: #1e1e1e;
    --color-3: rgba(30, 30, 30, 0.75);
    --color-4: rgba(30, 30, 30, 0.5);
    --font-family: "Poppins", sans-serif;
    --second-family: "Quella", sans-serif;

}

.container {
    max-width: 1248px;
}

body {
    font-family: var(--font-family);
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css common property ends here */


/*=============================================
=            header            =
=============================================*/
header {
    margin: 48px 0px;
}

header nav ul li a {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-4);
}

header nav ul {
    gap: 48px;
}

header nav ul li a.active {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-2);
}

header nav .links a {
    color: var(--color-2);
    padding: 0 10px;
}

.fa-user {
    border-right: 1px solid var(--color-2);
    padding: 0 40px;
}

/*=====  End of header  ======*/

/* for mobile and tablets */
header .mobile .links a i {
    color: var(--color-2);
    margin: 0 7px;
}

.btn-primary {
    background-color: var(--color-1);
    border-color: var(--color-1);
    color: black;
}

.mobile .menu ul {
    display: block;
    text-align: center;
}

.mobile .menu ul li {
    padding: 20px 0;
}

.mobile .menu ul li a {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-4);
}

.mobile .menu ul li a:hover {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-2);
    transform: translateX(50px);
}


.mobile .menu ul li:hover {
    background-color: var(--color-1);
    border-radius: 5px;
    transform: translateY(-20px);
}

/* end of mobile device header */


/*=============================================
=            banner            =
=============================================*/
#banner .container {
    padding: 48px 56px 10px 48px;
    background-color: var(--color-1);
    border-radius: 24px;
}

#banner h2 {
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
    color: #000;
}

#banner h3 {
    font-weight: 500;
    font-size: 32px;
    color: var(--color-2);
    margin-top: 24px;
}

#banner p {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-2);
    margin-bottom: 48px;
}

#banner input {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-4);
    border-radius: 12px;
    background-color: #fff;
    padding: 18px 199px 19px 18px;
    outline: none;
    border: none;
}

#banner button {
    border-radius: 12px;
    background-color: var(--color-1);
    width: 48px;
    height: 48px;
    border-color: var(--color-1);
    margin-left: -12%;
    margin-top: 10px;
    box-shadow: none;
    padding: 10px;

}

#banner button a i {
    color: #000;
}

/*=====  End of banner  ======*/


/*=============================================
=            plants            =
=============================================*/
#plants {
    margin: 96px 0px 112px;
}

#plants .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#plants h2 {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-2);
}

#plants p {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-4);
    margin: 12px 0 24px;
}

#plants a {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-2);
    border-radius: 8px;
    padding: 12px 19px;
    background-color: var(--color-1);
}

#plants h4 {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-2);
    margin: 12px 0 7px;
}

#plants .card {
    border: none;
}

/*=====  End of plants  ======*/



/*=============================================
=            about            =
=============================================*/
#about {
    margin-bottom: 100px;
    text-align: center;
}

#about h2 {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-2);
    margin-bottom: 12px;
}

#about p {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-4);
    margin-bottom: 48px;
}

#about h3 {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    margin: 24px 0 12px;
}


/*=====  End of about  ======*/



/*=============================================
=            categories            =
=============================================*/
#categories {
    text-align: center;
    background-color: var(--color-1);
    padding: 30px 0 48px;
}

.category h2 {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-2);
}

.category p {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-4);
    margin: 12px 0 96px;
}

#categories .img1 {
    margin-top: -20%;
}

#categories .card1 h3 {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-2);
    margin-top: 18px;
}

#categories .card1 p {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-4);
    margin: 12px 0 24px;
}

#categories .card1 a {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--color-2);
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #fff;
}

/*=====  End of categories  ======*/



/*=============================================
=            review            =
=============================================*/
#review {
    margin: 96px 0;
}

#review h2 {
    font-weight: 700;
    font-size: 32px;
    color: #000;
    margin-bottom: 48px;
}

#review .content1 {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-3);
}

#review h3 {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-2);
}

#review p {
    font-weight: 500;
    font-size: 12px;
    color: var(--color-4);
}

#review h4 {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-2);
}

#review .card1 {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 330px;
}

#review .card {
    flex: 1;
    padding: 40px 20px 0 20px;
    background-color: var(--color-1);
    border-radius: 12px;
    max-height: 100%;
}

.slick-dots li button:before {
    font-size: 0;
}

.slick-dots li button {
    width: 12px;
    height: 6px;
    border-radius: 12px;
    background-color: #d9d9d9;
    border: none;
    cursor: pointer;
}

/* Add spacing between dots */
.slick-dots li {
    margin: 0 8px;
}

/* Active dot */
.slick-dots li.slick-active button {
    background-color: var(--color-1);
    transform: scale(1.2);
    width: 30px;
    height: 6px;
}

.dot {
    position: relative;
}

.slick-dots {
    position: absolute;
    top: -100px;
    left: -10px;
}

/*=====  End of review  ======*/



/*=============================================
    =            footer            =
    =============================================*/
#footer {
    background-color: var(--color-1);
    padding: 48px 0;
}

#footer p {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-4);
    margin: 24px 0;
}

#footer .links a i {
    color: var(--color-3);
    width: 20px;
    height: 20px;
}

#footer .links a {
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--color-4);
    width: 48px;
    height: 48px;
    line-height: 48px;
}

#footer .links {
    margin-bottom: 98px;
}

#footer ul li .active {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-2);
}

#footer ul li a {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-4);
}

#footer ul li {
    margin: 30px 0;
}

#footer ul li:hover {
    transform: translateY(-10px);
    border-bottom: 1px solid rgb(26, 71, 77);
}

#footer .links a:hover {
    color: var(--color-1);
    background-color: #daebf0;
    border-color: #daebf0;
}

#footer .links a:hover i {
    color: black;

}

/*=====  End of footer  ======*/