@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #c1dcdc;
    --color-2: #1e1e1e;
    --color-3: rgba(30, 30, 30, 0.75);
    --color-4: rgba(30, 30, 30, 0.5);
    --font-family: "Poppins", sans-serif;
    --second-family: "Quella", sans-serif;

}
body{
    font-family: var(--font-family);
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol {
  margin: 0;
  padding: 0;
}
/* css common property ends here */